*{
    max-width: 1170px;
    margin: auto;  
}

#wrapper{
    background-color: antiquewhite;
}

body{
    background-color: #111;
}

.head{
    padding: 30px;
}


.picture{
    border: 2px solid red;
    width: 300px;
    margin-left: 18%;
    margin-bottom: 5%;
}

h2{
    padding: 10px;
}

.main-content{
    display: flex;
}

.content-left{
    flex-basis: 70%;
    font-size: 20px;
}

.content-right{
    flex-basis: 30%;
}

video{
    width: 400px;
}

table{
    border:1px solid black;
}

th{
    border:1px solid black;
    text-align: center;
}

td{
    border:1px solid black;
    text-align: center;
}

h3{
    text-decoration: underline;
    padding-bottom: 15px;
}

li{
    padding: 5px;
}

.info{
    padding: 9px;
    border: 1px solid #111;
}

.img-info{
    text-align: center;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.logo{
    margin-bottom: 20%;
}

h1{
    text-align: center;
}